@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";


section{
    height: 10em;
}
nav{
    height: 3em;
}
header{
    height: 3em;
}
footer{
    height: 3em;
}
